.avatar {
  min-width: calc(3rem + 12px);
  min-height: calc(3rem + 12px);
  max-width: 4rem;
  max-height: 4rem;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  border: 4px solid var(--gray-900);
  box-shadow: 0 0 0 2px var(--green-500);
}